<!DOCTYPE html>
<html>

<head>
    <title>Summary of Transactions</title>
    <style type="text/css">
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th,
        td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        th {
            background-color: #4CAF50;
            color: white;
        }
    </style>
</head>

<body>
    <!-- Encabezado -->
    <div class="header">
        <img src="https://www.storicard.com/_next/static/media/icon-pay-services.089b3e6d.svg" alt="Logo-storicard"
            class="logo">
        <h1>Summary of Transactions</h1>
    </div>

    <!-- Cuerpo del mensaje -->
    <div class="body">
        <table>
            <tr>
                <th>Month</th>
                <th>Number of transactions</th>
            </tr>
            {{range .Transactions}}
            <tr>
                <td>{{.Month}}</td>
                <td>{{.Total}}</td>
            </tr>
            {{end}}

        </table>
        <table>
            <tr>
                <th>Total balance is</th>
                <th>Average debit amount</th>
                <th>Average credit amount</th>
            </tr>
            <tr>
                <td>{{.TotalBalance}}</td>
                <td>-{{.AverageDebitAmount}} </td>
                <td>{{.AverageCreditAmount}}</td>
            </tr>
        </table>
    </div>

    <!-- Pie de página -->
    <div class="footer">
        <p>Thank you for your attention.</p>
    </div>
</body>

</html>